<div id="devswag">
  <a href="http://www.devswag.com/collections/tshirt/products/copy-of-classic-jquery-t-shirt">
      <img id="pry_t_shirt" class="tshirt" src="/images/pry_t_shirt.png" width="142" height="185" />
      <img id="t_shirt_thumbnail" class="tshirt" src="/images/t_shirt_thumbnail.png" width="142" height="185" />
  </a>

  <div id="product_links">
    <span class="uniform_bg">
      <span>
        Buy <a href="http://www.devswag.com/collections/tshirt/products/copy-of-classic-jquery-t-shirt">an official Pry t-shirt</a><br />
        or <a href="http://www.devswag.com/collections/homepage-bottom/products/pry-stickers-4">a nifty sticker</a>
      </span>
    </span>
  </div>
</div>
