<footer>
  <p>
    Pry comes to you from the mind of <a href="https://github.com/banister">John Mair</a> who also brought you
    <a href="https://github.com/banister/texplay">TexPlay</a>,
    <a href="https://github.com/banister/method_source">MethodSource</a>,
    <a href="https://github.com/banister/devil">Devil</a>,
    <a href="https://github.com/banister/remix">Remix</a> &amp;
    <a href="https://github.com/banister/free">Free</a>.
  </p>

  <p>
    <a href="https://github.com/pry/pry.github.com/contributors">List of website contributors</a> |
    Pry logo by <a href="http://www.studiokun.co.cc">STUDIOKUN</a>
  </p>
</footer>
