body {
  font: 100.01%/1.25 "Verdana", "Arial", sans-serif;
  margin: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block; }

form {
  margin: 0; }

dd {
  margin: 0 0 0 2.5em; }

blockquote {
  margin: 1em 2.5em; }

nav ol, nav ul {
  list-style: none; }

a:hover {
  text-decoration: none; }

a:hover, a:active {
  outline: 0; }

strong {
  font-weight: bold; }

small {
  font-size: .75em; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

pre, code {
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2.5em; }

h1, h2, h3 {
  margin: .6em 0 0;
  letter-spacing: 3px;
  padding: 0; }

h1 {
  border-bottom: solid 2px;
  color: #D00;
  font: bold 2.5em 'Maven Pro', 'Arial';
  padding-bottom: .15em;
  text-shadow: #111111 1px 1px 3px; }

h2 {
  color: black;
  font: bold 1.5em 'Maven Pro', 'Arial';
  margin-top: 1.25em;
  text-shadow: #888888 0 1px 3px; }

header #logo {
  padding: 2em 0;
  text-align: center; }
header .paypal.donate {
  top: -2em;
  position: relative;
  overflow: hidden;
  *zoom: 1; }
  header .paypal.donate p {
    float: right; }
  header .paypal.donate p input {
    vertical-align: middle; }
header .infobox {
  background: #F5F2ED;
  border: 1px #999 solid;
  font: 1.25em 'Maven Pro', 'Arial', sans-serif;
  margin: 0 auto;
  padding: .5em;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }
  header .infobox em {
    font-style: normal;
    font-weight: bold; }
nav {
  display: block;
  margin: 2em auto;
  overflow: hidden;
  *zoom: 1; }
  header nav ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    header nav ul li, header nav ul li a {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto; }
      header nav ul li, header nav ul li a {
        *display: inline; }
    header nav ul li a {
      background: white;
      border: 1px solid #eee;
      font: bold .8em 'Verdana', sans-serif;
      margin: .4em 1em;
      padding: .4em 1.2em;
      text-decoration: none;
      -moz-box-shadow: #555555 1px 1px 5px;
      -webkit-box-shadow: #555555 1px 1px 5px;
      -o-box-shadow: #555555 1px 1px 5px;
      box-shadow: #555555 1px 1px 5px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
      color: black; }
      header nav ul li a:visited {
        color: black; }
      header nav ul li a:focus {
        color: black; }
      header nav ul li a:hover {
        color: red; }
      header nav ul li a:active {
        color: black; }

footer {
  background: #EDE5CE;
  color: #333;
  margin: 0 auto;
  padding: .5em;
  text-align: center;
  border-top: 1px solid #988;
  -moz-box-shadow: #333333 0 4px 5px -4px inset;
  -webkit-box-shadow: #333333 0 4px 5px -4px inset;
  -o-box-shadow: #333333 0 4px 5px -4px inset;
  box-shadow: #333333 0 4px 5px -4px inset;
  text-shadow: white 0 1px; }
  footer p {
    font: .7em 'Verdana', sans-serif; }
  footer a {
    color: #900;
    text-shadow: none; }

body {
  background: #FFF8E8;
  color: black; }

div.wrap {
  margin: 0 auto 2em;
  width: 50em; }

pre {
  background: black;
  color: white;
  font-size: .9em;
  padding: .4em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px; }
  pre code {
    line-height: 1.2em; }
