footer
{
  background: rgba(100, 100, 100, 0.2);
  color:      #333;
  margin:     0 auto;
  padding:    .5em;
  text-align: center;

  p { font: .7em 'Verdana', sans-serif; }
  a
  {
    color: #900;
    @include text-shadow(none);
  }

  border-top:    1px solid #988;
  @include box-shadow(#333 0 4px 5px -4px inset);
  @include text-shadow(white 0 1px);
}
