header
{
  h1 { display: none }
  @include container;

  #logo
  {
    margin-bottom: 4em;
    position: relative;
    padding: 2em 0 0;
    text-align: center;
  }

  .sponsors
  {
    text-align: center;
    background-color: #F5F6F8;

    h2
    {
      background: image-url('/images/sponsored_by_header.png') no-repeat;
      height: 28px;
      margin: -6px 1em 0;
      text-indent: -9999px;
      width: 152px;
    }

    & > a
    {
      @include inline-block;
      margin: 1em 1em;
    }

    @include push(4);
    @include column(16, true);
    @include append-bottom(1.5em);
    @include box-shadow(#D6E2E1 2px 2px 0 inset, #D6E2E1 -2px -2px 0 inset);
  }

  hr
  {
    @include colruler;
    @include push(1);
    @include column(14, true);
    margin-bottom: 0;
    margin-top: 1em;
  }

  p.support
  {
    font: .855em/1.2 'Verdana';
    @include column(16, true);
    padding: .5em 0 1em;
  }

  .infobox
  {
    @include column(22, true);
    @include prepend(1);

    margin-top: 0;
    text-align: center;

    em
    {
      font-weight: bold;
      font-style: normal;
    }
  }
}
