nav
{
  clear: both;
  display: block;
  margin: 1em auto 0;

  @include clearfix;

  ul
  {
    margin: 0;
    padding: 0;
    text-align: center;
    li, li a { @include inline-block; }

    li a, li .button
    {
      background: #4E565D;
      @include background-image(linear-gradient(bottom center, rgb(26, 31, 36) 9%, rgb(48, 57, 66) 39%));
      border: 1px solid #353C3F;
      color: white;
      font: bold .8em 'Verdana', sans-serif;
      margin: .4em 1em;
      padding: .6em 1.2em;
      position: relative;
      text-decoration: none;

      @include box-shadow(#555 1px 1px 5px);
      @include border-radius(4px);
      // http://compass-style.org/reference/compass/typography/links/link_colors/#mixin-link-colors
      @include link-colors(white, red, white, white, white);
      @include text-shadow(black 0 0 8px);

      &:hover { top: 1px; }
    }

    li.donate .button
    {
      @include background-image(linear-gradient(bottom center, #A25600 9%, #CE6D00 39%));
      border-color: #AB4B11;
      cursor: pointer;
      padding: .8em 1.4em;

      &:hover /* it’s actually just an input button, no link-colors here */
      {
        color: white;
        @include text-shadow(white 0 0 8px);
      }
    }
  }
}
