h1, h2, h3
{
  margin: .6em 0 0;
  letter-spacing: 3px;
  padding: 0;
}

h1
{
  border-bottom: solid 2px;
  color: #D00;
  font: bold 2.5em 'Maven Pro', 'Arial';
  padding-bottom: .15em;

  @include text-shadow(#111 0px 1px 1px);
}

h2
{
  color: black;
  font: bold 1.5em 'Maven Pro', 'Arial';
  margin-top: 1.25em;
  @include text-shadow(#888 0 1px 2px);
}

