@import "base.scss";
@import "typography.scss";
@import "header.scss";
@import "navigation.scss";
@import "body.scss";
@import "footer.scss";

body
{
  background: #FFF8E8;
  color: black;
}

div.wrap
{
  margin: 0 auto 2em;
  width: 50em;
}

pre
{
  background: black;
  color: white;
  font-size: .9em;
  padding: .4em;

  @include border-radius(2px);
  code { line-height: 1.2em }
}
